$very-dark-blue = hsl(243, 87%, 12%)
$desatured-blue = hsl(238, 22%, 44%)
$bright-blue = hsl(224, 93%, 58%)
$moderate-cyan = hsl(170, 45%, 43%)
$light-grayish-blue =  hsl(240, 75%, 98%)
$light-gray = hsl(0, 0%, 75%)
$titles = 'Raleway', sans-serif
$title-400 = 400
$title-700 = 700
$bodies = 'Open Sans', sans-serif
$bodies-400 = 400

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap');

*
  margin: 0
  padding: 0


img
    display: block
    max-width 100%

ul
  li
    list-style none

a
  text-decoration: none

header
  width calc(100% - 40px)
  margin: 60px 20px

.container-nav
  display: flex
  justify-content: space-between
  align-items: center
  & .logo-nav
    flex: 1
    max-width: 100px
    max-height: 100px
    
.container-menu
  display: flex
  & li + li
    margin-left: 10px
  & li
      padding: 5px
  & li
      a
        font-family $titles 
        color: $very-dark-blue
        transition: color .2s
        font-weight: 600
        
        &:hover
          color: $desatured-blue


.container-all-your-files
  display: flex
  flex-direction: column
  margin: 100px auto
  align-items: center
  width 80%
  & .img-all-your-files
      background-size: cover
      background-repeat: no-repeat
      background-position: top right
      width 300px
.item-all-your-files
  margin-top: 30px
  text-align center
  & .title-all-your-files
    color: $very-dark-blue
    font-family $titles
    font-weight $title-700
    margin: 20px 0
    line-height: 1.5
  & p
    color: $very-dark-blue
    font-family $bodies
    margin: 20px 0
  & form
    display: flex
    flex-direction: column
    &
      @media (min-width:1300px)
        flex-direction: row
        align-items:baseline
    & input
      margin-bottom: 15px
      & 
        @media (min-width: 1300px)
          flex: 30%
          margin-bottom: 0

    & input,button
      border-radius: 5px
      padding: 20px 10px
    & button
      background-color: $bright-blue 
      border-color: transparent
      box-shadow: 0 0 1.5em $light-gray
      color: #fff
      cursor pointer
      font-family $titles
      font-weight $title-700
      transition: opacity .1s
      opacity: 1
      &:hover
        opacity: 0.8
      & 
        @media (min-width: 1300px)
            flex: calc(100px - 20px)
            margin-left: 20px
            margin-bottom: 0
    & input
      border:1px solid $very-dark-blue
      &:invalid
        border-color: red
    
@media (min-width:1300px)
    .container-all-your-files
      justify-content: space-between
      flex-direction: row
      & .item-all-your-files
        order 0
        flex: calc(50% - 80px)
        margin-right: 80px
        text-align: left
        margin-top: 0
      & .title-all-your-files
          font-size: 2.5rem
      & .img-all-your-files
          order 1
          flex: 50%

@media (min-width: 1000px)
  header
    width 80%
    margin: 60px auto

  .container-nav
    display: flex
    justify-content: space-between
    align-items: center
    & .logo-nav
      flex: 1
      max-width: 150px
      max-height: 150px

.stay-productive
  background-color: $light-grayish-blue
  padding: 100px 0
  border-radius: 134% 145% 0% 0%/25% 22% 0% 0% 

.container-stay-productive
  display: flex
  flex-direction: column
  width 80%
  justify-content: center
  align-items: center
  margin: 0 auto
  & .img-stay-productive
      background-size: cover
      background-repeat: no-repeat
      background-position: top right
      width 300px
  & .item-stay-productive .title-stay-productive
    font-family: $titles
    font-size: 1.5rem
    font-weight $title-700
    text-align: center
    color: $very-dark-blue
    margin: 80px 0 30px
  & p
      font-family $bodies
      font-size 0.9rem
      & + p
        margin-top: 20px
  & .call-to-action-stay-productive
    display: block
    font-family $titles
    font-weight $title-700
    font-size 0.9rem
    max-width: 170px
    text-align: center
    color: $moderate-cyan
    border-bottom: 1px solid $moderate-cyan
    margin: 30px auto 0 auto
    padding: 5px 0
    opacity 1
    transition: opacity .1s
    &:hover
      opacity 0.5
    &::after
      content: url(../images/icon-arrow.svg)
      width 5px
      height: @width
      margin-left: @width
      position: relative
      bottom: -3px
  & .card
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    margin: 50px auto
    border-radius: 4px
    max-width: 320px
    height: 250px
    background-color: #fff
    padding: 0px 30px
    box-shadow: 0 0 1.5em $light-gray
    & p
      line-height: 1.5
      color: $very-dark-blue
    &::before
        content: url(../images/icon-quotes.svg)
        position relative
        right: 47.2%
        padding: 10px 0
    &
      ul
        margin-top: 20px
        align-self: flex-start
        display: flex
        justify-content: baseline
      & img.circle-avatar
        width 30px
        height: @width
        border-radius: 50%
      & .info h2
                font-family $titles
                font-size 0.9rem
                color: $very-dark-blue
        & li + li
          margin-left: 10px
        & .info p
          margin-top: 3px
          font-family $bodies
          font-size 0.7rem
          font-weight $bodies-400
          color: $very-dark-blue 


.get-early-access
  background-color: $desatured-blue
  padding: 80px 0
.container-get-early-access
  display: flex
  flex-direction: column
  margin: 0 auto
  width 80%
  & .title-get-early-access
      color: $light-grayish-blue
      font-family $titles
      font-weight: $title-700
      text-align: center
      margin-bottom: 20px
  & .paragraph-get-early-access
      color: $light-grayish-blue
      font-family $bodies
      font-weight $bodies-400
      text-align: center
      margin-bottom: 20px
  & .container-form
      display: flex
      flex-direction: column
      margin: 0 auto
      width 70vw
    & input, button
        padding: 13px 10px
        border-radius: 2px
        border-color: transparent
        box-shadow: 0 0 0.1em transparent
    & input:invalid
            border-color: red
            opacity 0.8
    &  ::placeholder
       color: $light-gray
       font-family $bodies
    & button
        margin-top: 20px
        background-color: $bright-blue
        font-family $titles
        font-weight $title-700
        cursor pointer
        color #fff
        box-shadow: 0 0 0.1em $bright-blue
        opacity 1
        transition: opacity .1s
        &:hover
          opacity: 0.8

.container-footer
  background-color: $very-dark-blue
  padding: 80px 0
  display: flex
  flex-direction: column
  & img
      width 180px
      position relative
      left: 10%
  & a
    color: $light-grayish-blue
    font-family $titles
    font-size 0.9rem
    transition: color .1s
  & .footer-nav
      display: flex
      width 80%
      margin: 0 auto
      flex-direction: column
      & ul
        margin-top: 30px
        & li + li
            margin-top: 20px
        & li a:hover
            color: $light-gray
        & .phone::before
            content: url(../images/icon-phone.svg)
            width 20px
            height: @width
            margin-right: 10px
        & .email::before
            content: url(../images/icon-email.svg)
            width 20px
            height: @width
            margin-right: 10px
        
        

@media (min-width:1300px)
  .container-stay-productive
    flex-direction: row
    align-items: flex-start
    & .item-stay-productive
        order 0
        flex: 60%
        & .title-stay-productive
           text-align left
           font-size: 2.5rem
        & .item-paragraph
            max-width: 55%
            color: $very-dark-blue
        & .card
          margin-left: 0
          margin-right: 0
    & .call-to-action-stay-productive
        margin-left: 0
        margin-right: 0
    & .img-stay-productive
        margin-top: 100px
        order: 1
        flex: 40%
  .stay-productive
    background-color: $light-grayish-blue
    padding: 100px 0
    border-radius: 63% 75% 0% 0% / 25% 22% 0% 0%
  .container-get-early-access
    flex-direction: row
    justify-content: baseline
    & .title-get-early-access
        font-size 1.8rem
        text-align: left
        margin-bottom: 20px
    & .paragraph-get-early-access
        text-align: left
        max-width 500px
    
    & .container-get-early-access-text,
      .form-get-early-access
        flex: 50%
      & .container-form
        width 100%
      & input
          width 80%
      & button
          width 40%

@media (min-width: 800px)
  .container-footer .footer-nav
    justify-content: space-between
    flex-direction: row
