@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
}
ul li {
  list-style: none;
}
a {
  text-decoration: none;
}
header {
  width: calc(100% - 40px);
  margin: 60px 20px;
}
.container-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container-nav .logo-nav {
  flex: 1;
  max-width: 100px;
  max-height: 100px;
}
.container-menu {
  display: flex;
}
.container-menu li + li {
  margin-left: 10px;
}
.container-menu li {
  padding: 5px;
}
.container-menu li a {
  font-family: 'Raleway', sans-serif;
  color: #070439;
  transition: color 0.2s;
  font-weight: 600;
}
.container-menu li a:hover {
  color: #585989;
}
.container-all-your-files {
  display: flex;
  flex-direction: column;
  margin: 100px auto;
  align-items: center;
  width: 80%;
}
.container-all-your-files .img-all-your-files {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top right;
  width: 300px;
}
.item-all-your-files {
  margin-top: 30px;
  text-align: center;
}
.item-all-your-files .title-all-your-files {
  color: #070439;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  margin: 20px 0;
  line-height: 1.5;
}
.item-all-your-files p {
  color: #070439;
  font-family: 'Open Sans', sans-serif;
  margin: 20px 0;
}
.item-all-your-files form {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1300px) {
  .item-all-your-files form {
    flex-direction: row;
    align-items: baseline;
  }
}
.item-all-your-files form input {
  margin-bottom: 15px;
}
@media (min-width: 1300px) {
  .item-all-your-files form input {
    flex: 30%;
    margin-bottom: 0;
  }
}
.item-all-your-files form input,
.item-all-your-files form button {
  border-radius: 5px;
  padding: 20px 10px;
}
.item-all-your-files form button {
  background-color: #3065f8;
  border-color: transparent;
  box-shadow: 0 0 1.5em #bfbfbf;
  color: #fff;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  transition: opacity 0.1s;
  opacity: 1;
}
.item-all-your-files form button:hover {
  opacity: 0.8;
}
@media (min-width: 1300px) {
  .item-all-your-files form button {
    flex: calc(100px - 20px);
    margin-left: 20px;
    margin-bottom: 0;
  }
}
.item-all-your-files form input {
  border: 1px solid #070439;
}
.item-all-your-files form input:invalid {
  border-color: #f00;
}
@media (min-width: 1300px) {
  .container-all-your-files {
    justify-content: space-between;
    flex-direction: row;
  }
  .container-all-your-files .item-all-your-files {
    order: 0;
    flex: calc(50% - 80px);
    margin-right: 80px;
    text-align: left;
    margin-top: 0;
  }
  .container-all-your-files .title-all-your-files {
    font-size: 2.5rem;
  }
  .container-all-your-files .img-all-your-files {
    order: 1;
    flex: 50%;
  }
}
@media (min-width: 1000px) {
  header {
    width: 80%;
    margin: 60px auto;
  }
  .container-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .container-nav .logo-nav {
    flex: 1;
    max-width: 150px;
    max-height: 150px;
  }
}
.stay-productive {
  background-color: #f6f6fe;
  padding: 100px 0;
  border-radius: 63% 75% 0% 0%/25% 22% 0% 0%;
}
.container-stay-productive {
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.container-stay-productive .img-stay-productive {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top right;
  width: 300px;
}
.container-stay-productive .item-stay-productive .title-stay-productive {
  font-family: 'Raleway', sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  color: #070439;
  margin: 80px 0 30px;
}
.container-stay-productive p {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9rem;
}
.container-stay-productive p + p {
  margin-top: 20px;
}
.container-stay-productive .call-to-action-stay-productive {
  display: block;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 0.9rem;
  max-width: 170px;
  text-align: center;
  color: #3c9f8f;
  border-bottom: 1px solid #3c9f8f;
  margin: 30px auto 0 auto;
  padding: 5px 0;
}
.container-stay-productive .call-to-action-stay-productive::after {
  content: url("../images/icon-arrow.svg");
  width: 5px;
  height: 5px;
  margin-left: 5px;
  position: relative;
  bottom: -3px;
}
.container-stay-productive .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px auto;
  border-radius: 4px;
  max-width: 320px;
  height: 250px;
  background-color: #fff;
  padding: 0px 30px;
  box-shadow: 0 0 1.5em #bfbfbf;
}
.container-stay-productive .card p {
  line-height: 1.5;
  color: #070439;
}
.container-stay-productive .card::before {
  content: url("../images/icon-quotes.svg");
  position: relative;
  right: 48%;
  padding: 10px 5px;
}
.container-stay-productive .card ul {
  margin-top: 20px;
  align-self: flex-start;
  display: flex;
  justify-content: baseline;
}
.container-stay-productive .card img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.container-stay-productive .card .info h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 0.9rem;
  color: #070439;
}
.container-stay-productive .card li + li {
  margin-left: 10px;
}
.container-stay-productive .card .info p {
  margin-top: 3px;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.7rem;
  font-weight: 400;
  color: #070439;
}
@media (min-width: 1300px) {
  .container-stay-productive {
    flex-direction: row;
    align-items: flex-start;
  }
  .container-stay-productive .item-stay-productive {
    order: 0;
    flex: 60%;
  }
  .container-stay-productive .item-stay-productive .title-stay-productive {
    text-align: left;
    font-size: 2.5rem;
  }
  .container-stay-productive .item-stay-productive .item-paragraph {
    max-width: 55%;
    color: #070439;
  }
  .container-stay-productive .item-stay-productive .card {
    margin-left: 0;
    margin-right: 0;
  }
  .container-stay-productive .call-to-action-stay-productive {
    margin-left: 0;
    margin-right: 0;
  }
  .container-stay-productive .img-stay-productive {
    margin-top: 100px;
    order: 1;
    flex: 40%;
  }
}
